body {
    margin: 0;
    padding: 0;
}
#wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

#blogForm, #recentBlogs {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

#recentBlogs {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 80vh;
}

#title, #content, #addBlogBtn {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#content {
    height: 200px;
}

.blogs {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#alertBox {
    display: flex;
    justify-content: center;
    align-items: center;   
    padding: 10px; 
}

#alertSuccess {
    background-color: rgb(0, 172, 0);
    color: #ffffff;
    width: 300px;
    padding: 10px;
    text-align: center;
}

#alertFail {
    background-color: rgb(159, 0, 0);
    color: #ffffff;
    width: 300px;
    padding: 10px;
    text-align: center;
}